<header class="film-details--header">
  <h1 class="film-details--title" film-detail text="title"></h1>

  <span class="film-details--subheader" film-detail text="release_date"></span>
</header>

<p class="film-details--description" film-detail text="description"></p>

<dl class="film-details--meta">
  <dt class="meta-term">Director</dt>
  <dd class="meta-def" film-detail text="director"></dd>

  <dt class="meta-term">Producer</dt>
  <dd class="meta-def" film-detail text="producer"></dd>

  <dt class="meta-term">Rotten Tomatoes Score</dt>
  <dd class="meta-def" film-detail text="rt_score"></dd>
</dl>